EmailValidator flags RFC-compliant addresses as invalid

### Mautic Version

4.2.x series (not supported)

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

## Description
`Mautic\EmailBundle\Helper\EmailValidator::hasValidCharacters` flags any `$address` containing any of `^`, `&`, `*`, or `%` as invalid. According to [RFC 5322, section 3.2.3](https://www.rfc-editor.org/rfc/rfc5322#section-3.2.3), all of those listed above are permitted in a valid email address.

## Expected Behavior
Mautic email validation should not disallow valid characters in email addresses.

### How can we reproduce this issue?

## Steps to reproduce

1. Create a new contact or edit an existing one.
2. Use/add one or more of `^`, `&`, `*`, or `%` in the `email` field.
3. Click "Save".
4. Observe message stating, `email: <email-address> has characters not allowed in email addresses.`

### Relevant log output

_No response_

### Code of Conduct

- [X] I confirm that I have read and agree to follow this project's Code of Conduct

Similar to https://github.com/mautic/mautic/issues/5629, which was [addressed by allowing the `'` character](https://github.com/mautic/mautic/pull/10488/files#diff-15bf981ba5f176336a74730fcedcee2bdcbd77e39ec763e2beed0499613d2e62).

Please check this PR #11613 , it should solve this issue