Email validator issues

What type of report is this:

| Q  | A
| ---| ---
| Bug report? | Yes
| Feature request? | 
| Enhancement? | 

## Description:
Email validation of EmailBundle works wrong. According to RFC:

Local part
The local-part of the email address may use any of these ASCII characters RFC 5322 Section 3.2.3:
·         Uppercase and lowercase English letters (a–z, A–Z) (ASCII: 65-90, 97-122)
·         Digits 0 to 9 (ASCII: 48-57)
·         Characters !#$%&'*+-/=?^_`{|}~ (ASCII: 33, 35-39, 42, 43, 45, 47, 61, 63, 94-96, 123-126)
·         Character . (dot, period, full stop) (ASCII: 46) provided that it is not the first or last character, and provided also that it does not appear two or more times consecutively (e.g. John..Doe@example.com is not allowed.).
·         Special characters are allowed with restrictions. They are:
o    Space and "(),:;<>@[\] (ASCII: 32, 34, 40, 41, 44, 58, 59, 60, 62, 64, 91-93)
The restrictions for special characters are that they must only be used when contained between quotation marks, and that 3 of them (The space, backslash \ and quotation mark " (ASCII: 32, 92, 34)) must also be preceded by a backslash \ (e.g. "\ \\\"").
A quoted string may exist as a dot separated entity within the local-part, or it may exist when the outermost quotes are the outermost characters of the local-part (e.g. abc."defghi".xyz@example.com or "abcdefghixyz"@example.com are allowed. Conversely, abc"defghi"xyz@example.com is not; neither is abc\"def\"ghi@example.com). Quoted strings and characters however, are not commonly used. RFC 5321 also warns that "a host that expects to receive mail SHOULD avoid defining mailboxes where the Local-part requires (or uses) the Quoted-string form".


But hasValidCharacters method not allow '^&*%
So mails like

joe.o'donnell@gmail.com  becomes invalid
According to RFC it its valid.  

PS. Why not use https://github.com/symfony/validator/? Or at least regex from it.
## If a bug:

| Q   | A
| --- | ---
| Mautic version | 2.12.1
| PHP version | 7.0.x

### Steps to reproduce:
1. Enter valid mail
2. Hit save :)
 
### Log errors: 

email: joe.o'donnell@gmail.com has characters not allowed in email addresses.



https://www.regular-expressions.info/email.html

Choosing the “Has valid email address” option should apply two validation methods: the existence of the domain and the existence of the MX entries according to [this Mautic Blog Post](https://www.mautic.org/blog/community/using-mautic-campaign-validation-make-marketing-list-valuable/).

May I ask @dbhurley will this Bug be fixed in the coming Mautic 3 release? 🙏

This was resolved in a recent PR and was a duplicate issue so closing this down